/* Form css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  font-size: 110%;
  height: 100vh;
}

body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

/* point part */
.point{
  text-align: center;
  background-color: gray;
  margin: auto;
  width: 10rem;
}

.point input{
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  padding: .5em 0em .5em 0em;
  width: 100%;
}

/* game part */
.game{
  display: flex;
  background-color: gray;
  padding: 1em;
  margin-top: 1em;
}

.same{
  width: 50%;
  height: 100%;
}

/* left part */
.left-main{
  display: flex;
  flex-direction: column;
  border-right: 3px dashed black;
}

.left{
  display: flex;
  margin-bottom: .5em;
}

.left-same{
  width: 50%;
  text-align: center;
}

.profile{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

/* bottom part */
.bottom-left{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bot-align{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid silver;
  width: 20%;
  background-color: orange;
  padding: .3em 0em .3em 0em;
}

.three-hand{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: .5em;
}

/* right part */
.right{
  display: flex;
}

.right-same{
  width: 50%;
  text-align: center;
}

.profile_anime{
  width: 140px;
  height: 150px;
  border-radius: 100%;
}

.selected{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 20%;
  background-color: black;
  color: white;
  padding: .5em;
  border: 2px solid silver;
}