/* Form css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
}

html {
  font-size: 110%;
  height: 100vh;
}

@media (max-width: 446px) {
  html {
    font-size: 65%;
  }
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  padding: 1em;
  height: 100%;
  display: block;
}

.heading {
  text-align: center;
  margin: 0em 0em 5em 0em;
  color: orange;
  background-color: gray;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 2px 10px gray;
}

@media (max-width: 446px) {
  .heading {
    width: 90%;
  }
}

@media (max-width: 446px) {
}

/* align part */
.align {
  height: 100%;
}

/* name part */
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: rgb(170, 165, 165);
  margin: auto;
  width: 35%;
  margin-top: 1em;
  height: 100%;
}

@media (max-width: 446px) {
  .name {
    width: 100%;
  }
}

.in {
  padding: 1em;
}

.in h3 {
  text-align: center;
}

.enter-name,
h3,
input {
  padding: 0.2em;
}

#enter-name-inp {
  width: 100%;
  border-radius: 0;
  padding: 0.2em 0.2em 0.2em 0.2em;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
}

/* gender part */
.gender-between {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 446px) {
  .gender-between input[type="radio"] {
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5);
    margin: 0;
  }
}
/* opponent part */
.opponent-between {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.opponent-between input {
  margin: 1em;
}

@media (max-width: 446px) {
  .opponent-between input[type="radio"] {
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5);
    margin: 0;
  }
}

.normal {
  width: 100px;
  height: 120px;
  margin-left: 1em;
}

@media (max-width: 446px) {
  .normal {
    width: 60px;
    height: 70px;
  }
}

/* button */
.dark:disabled {
  padding: 0.5em 1.5em;
  background-color: rgb(94, 90, 90);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

.dark:disabled:hover {
  cursor: pointer;
  background-color: rgb(80, 76, 76);
}

.dark {
  padding: 0.5em 1.5em;
  background-color: black;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

.dark:hover {
  cursor: pointer;
}

/* second page part */
/* again part */
.again {
  display: none;
  padding: 1.5em 0em 0em 2.5em;
}

@media (max-width: 446px) {
  .again{
    text-align: center;
    padding: 1.5em 0em 0em 0em;
  }
}

.again-btn {
  border: 1.5px solid black;
  border-radius: 0;
  padding: 0.5em 1.5em;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (max-width: 446px) {
  .again-btn {
    font-size: .5rem;
  }
}

.again-btn:hover {
  background-color: orange;
  cursor: pointer;
}

/* article part */
article {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  display: none;
}

@media (max-width: 446px) {
  article{
    width: 90%;
    margin: auto;
  }
}

/* point part */
.point-both {
  display: flex;
}

.point {
  text-align: center;
  background-color: gray;
  margin: auto;
  width: 7rem;
  border: 1px solid black;
}

@media (max-width: 446px) {
  .point{
    width: 4rem;
    font-size: .7rem;
  }
}

.point h2 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  padding: 0.5em 0em 0.5em 0em;
  width: 100%;
  border: 2px solid silver;
}

@media (max-width: 446px) {
  .point h2{
    font-size: 1rem;
  }
}

/* game part */
.game {
  display: flex;
  background-color: gray;
  padding: 1em;
  margin-top: 1em;
  border: 2px solid black;
}

.same {
  width: 50%;
  height: 100%;
}

/* left part */
.left-main {
  display: flex;
  flex-direction: column;
  border-right: 3px dashed black;
}

.left {
  display: flex;
  margin-bottom: 0.5em;
}

.left-same {
  width: 50%;
  text-align: center;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

@media (max-width: 446px) {
  .profile{
    width: 40px;
    height: 40px;
  }

  #player{
    font-size: 1rem;
  }
}

/* bottom part */
.bottom-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: hidden;
}

@media (max-width: 446px) {
  .bottom-left{
    flex-direction: column;
  }
}

.bot-align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.3em 0em 0.3em 0em;
}

@media (max-width: 446px) {
  .sec-btn h3{
    width: 50%;
  }
}

.three-hand {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 0.5em;
}

@media (max-width: 446px) {
  .three-hand{
    width: 15px;
    height: 15px;
  }
}

.sec-btn {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: 2px solid silver;
}

.sec-btn:hover {
  background-color: orange;
  cursor: pointer;
}

@media (max-width: 446px) {
  .sec-btn{
    width: 80%;
    margin: .2em 0em;
    font-size: .8rem;
  }
}

/* right part */
.right {
  display: flex;
}

res-right

.right-same {
  width: 50%;
  text-align: center;
}



.profile_anime {
  width: 140px;
  height: 150px;
  border-radius: 100%;
  border: 5px solid silver;
}

@media (max-width: 446px) {
  .profile_anime{
    width: 40px;
    height: 43px;
  }

  #com-name{
    font-size: 1rem;
  }


}

.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 20%;
  background-color: black;
  color: white;
  padding: 0.5em;
  border: 2px solid silver;
}

@media (max-width: 446px) {
  .selected{
    padding-top: .7em;
    height: 2.5em;
    width: 25%;
  }
  #leftTitle{
    font-size: .45rem;
  }
  #leftShow{
    width: 13px;
    height: 13px;
    margin: 0;
  }
}

@media (max-width: 446px) {
  .res-right{
    margin-bottom: 1.9em;
  }

  #rightShow{
    width: 13px;
    height: 13px;
    margin: 0;
  }

  #rightTitle{
    font-size: .45rem;
  }
}


.img-selected {
  margin: 0;
}

@media (max-width: 446px) {
  .img-selected{
    margin-right: 0.5em;
  }
}

/* footer part */
footer {
  text-align: center;
  background-color: gray;
  width: 35%;
  margin: 1.5em auto;
  display: none;
  border: 1px solid black;
}

@media (max-width: 446px) {
  footer{
    font-size: .6rem;
    width: 40%;
  }
}

footer h2 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  padding: 0.5em 0em 0.5em 0em;
  width: 100%;
  border: 2px solid silver;
}

@media (max-width: 446px) {
  footer h2{
    font-size: .7rem;
    padding: 0.5em 0.2em 0.5em 0.2em;
  }
}
